/* RESET (GENERAL) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background:linear-gradient(180deg, #1EBEA5, #00E676, #D0E9EA, #EDF8F5, #ffffff);
}

/* CONTENITORE PRINCIPALE */
#root{
    width: 80%;
    height: 95%;
    margin: 2.5vh auto;
    border-radius: .3125rem;
    overflow: hidden;
}
/* COMMON */
.d_flex{
    display: flex;
}

.line_header{
    height: 4.375rem;
    background-color: #eaeaea;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 3.125rem;
    min-width: 3.125rem;
    height: 3.125rem;
    margin: .625rem;
    border-radius: 100%;  
    overflow: hidden;
}

.tools{
    margin-left: .9375rem;
}

.tools i{
    margin-right: 1.5625rem;
    font-size: 1.375rem;
    color: #b1b1b1;
}
/* MAIN */

/* LEFT-COL */
.left_col{
    width: 40%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
}

.left_col .line_header{
    border-right: .0625rem solid lightgray;
}

/* INSIDE 
 LINE_HEADER */
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user{
    align-items: center;
    
}
/* ---------------- */

/* NOTIFICATIONS */
.desk_notifications{
    background-color: #8edafc;
    align-items: center;
    justify-content: flex-start;
}

.desk_notifications .logo{
    
    background-color: #f2fbff;
    padding: .9375rem;
}
.desk_notifications .logo i{
    color: #8edafc; 
}

.desk_notifications .tools a{
    color:#547c8e;
}
/* --------------------- */

/* SEARCH */
.search_box{
    height: 3.125rem;
    background-color: #fafafa;
    padding: .5rem;
}
.search{
    background-color: white;
}
.search button,
.search input{
   border: .0625rem solid lightgray;
}
.search button{
    padding: .5rem 1.875rem;
    background:none;
    color: #bdc0c2;
    border-right: .0625rem solid lightgray;
}
.search input{
    padding:.3125rem;
    flex-grow: 1;
}

/* CONTACT-LIST */
.contacts_list{
    /* height: calc(100% - 11.875rem); */
    flex-grow: 1;                               /* ?????*/
    overflow-y: scroll;
}
.contact{
    height: 5rem;  
    padding-left: .625rem; 
    border-bottom: .0625rem solid lightgray;
}
.contact:hover{
    background-color: #e9ebeb;
    cursor: pointer;
}

.contacts_list .contact .contact_name{
    margin: .9375rem 0 0 1.25rem
}

/* vue-activated */
.active{
    background-color: #e9ebeb;
}

/* RIGHT_COL */
.right_col{
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}
.chat{
    /* height: calc(100% - 8.75rem); */
    flex-grow: 1;                      /* ?????*/
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
    flex-direction: column;
    padding: 3.125rem;

}

.line_input_chat{
    height: 4.375rem;
    background-color: #f3eeea;
    justify-content: space-around;
    align-items: center;
}
.line_input_chat input{
    flex-grow: 1;
    border: .0625rem solid lightgray;
    border-radius: .3125rem;
    padding: .625rem;
}
.line_input_chat i{
    margin: 0rem 2.1875rem;
}

/* INSIDE CHAT */
.message_box{
    min-width: 19.6875rem;
    border-radius: .625rem;
    flex-direction: column;
    justify-content: space-around;
    padding: .375rem .625rem;
    margin-top: .625rem;
}
.message_box .text{
    font-size: .9375rem;
    margin-bottom: .9375rem;
}
.message_box .date{
    font-size: .75rem;
    font-weight: lighter;
    color: #b6b9bb;
    align-self: flex-end;

}

/* vue-activated */
.sent{
    background-color: #d5f9ba;
    align-self: flex-end;
}

.received{
    background-color: #ffffff;
    align-self: flex-start;
}






