/* RESET (GENERAL) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background:linear-gradient(180deg, #1EBEA5, #00E676, #D0E9EA, #EDF8F5, #ffffff);
}

/* CONTENITORE PRINCIPALE */
#root{
    width: 80%;
    height: 95%;
    margin: 2.5vh auto;
    display: flex;
    /* border: 1px solid red; */
}

/* MAIN */
/* common */
.line_header{
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_menu .line_header{
    border-right: 1px solid lightgray;
}

/* LEFT-MENU */
.left_menu{
    width: 40%;
    background-color: #ffffff;
}

/* INSIDE 
 LINE_HEADER */
.logo{
    width: 50px;
    margin: 10px;
    border-radius: 50%;  
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.logo img{
    width: 100%;
}

.tools{
    display: inline-block;
}

.tools i{
    margin-right: 25px;
    color: #b1b1b1;
    font-size: 1.3em;
}
/* ---------------- */

.desk_notifications{
    height: 70px;
    background-color: #8edafc;
}

.desk_notifications .logo{
    background-color: #f2fbff;
    padding: 15px;
}
.desk_notifications .logo i{
    color: #8edafc; 
}

.search_box{
    height: 50px;
    background-color: #fafafa;
    padding: 8px;
    /* overflow: hidden; */
    /* border: 1px solid red; */
}
.search{
    background-color: white;
    display: flex;
    /* border: 1px solid red; */
}
.search button,
.search input{
   border: 1px solid lightgray;
}
.search button{
    padding: 8px 30px;
    background:none;
    color: #bdc0c2;
    border-right: 1px solid lightgray;
}
.search input{
    padding:5px;
    flex-grow: 1;
}

.contact_list{
    height: calc(100% - 190px);
    overflow-y: scroll;
}

/* CHAT-BOX */
.chat_box{
    background-image: url(../img/mine.jpg);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}
.chat{
    height: calc(100% - 140px);
    overflow-y: scroll;
}

.line_input_chat{
    height: 70px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}
.line_input_chat input{
    flex-grow: 1;
}
.line_input_chat i{
    margin: 0px 35px;
}



